<div class="grid-container">
    <div class="grid-item">
        <h3>Cinema coupon</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Ac sed proin sed turpis a at laoreet scelerisque. E
            u risus felis lorem orci in sem vestibulum.</p>
        <img src="../../assets/couponimg.jpeg" alt="image">
        <p>Company name: Cinema</p>
        <p>Original cost: </p>
        <p>Cost with discount: </p>
        <input type="submit" id="buyCoupon" value="Buy coupon">
    </div>
</div>