<app-navbar></app-navbar>
<div class="grid-container">
    <div class="grid-item">
        <h2>Cinema</h2>
        <a name = "couponList" href="../../app/business-coupons">My coupons list</a>
        <img src="../../assets/couponimg.jpeg" alt="businessimage">
        <h4>Category</h4>
        <p>Entertainment</p>
        <h4>Address</h4>
        <p>C.C Las Arenas</p>
        <h4>Week Schedule</h4>
        <ul>
            <li>M - 10:00-23:00</li>
            <li>T - 10:00-23:00</li>
            <li>W - 10:00-23:00</li>
            <li>T - 10:00-23:00</li>
            <li>F - 10:00-23:00</li>
            <li>S - 10:00-23:00</li>
            <li>S - 10:00-23:00</li>
        </ul>
    </div>
</div>