.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left center right";
}


.grid-item { 
    grid-area: center;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 5px 50px 3px rgba(170, 154, 154, 0.568);
}

img {
    padding: 50px;
}

ul {
    margin-left: 50px;
}

p {
    margin-left: 50px;
}

h4 {
    margin-left: 50px;
}

h2 {
    margin-left: 50px;
    margin-top: 30px;
}