<app-navbar></app-navbar>
<h2>My coupons</h2>
<div class="grid-container">
        <div class="coupon">
            <img src="../../assets/couponimg.jpeg" alt="couponImage">
            <div class="couponInfo">    
                <h4>Coupon for the cinema</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <input type="submit" id="changeCoupon" value="Change">
                <input type="submit" id="modifyCoupon" value="Modify">
        </div>
    </div>
</div>