<app-navbar></app-navbar>
<h2>My coupons</h2>
<input type="submit"  id="createCoupon" value="Create new coupon">
    <div class="coupon" *ngFor="let coupon of coupons">
        <img src="../../assets/couponimg.jpeg" alt="couponImage">
        <div class="couponInfo">    
            <h4>{{coupon.name}}</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <b><p>Original cost: </p></b>
            <b><p>Discounted price: </p></b>
            <input type="submit" class="formInput" id="changeCoupon" value="Change">
            <input type="submit" class="formInput" id="modifyCoupon" value="Modify">
    </div>
</div>
