<nav class="navbar">
    <a href="/">
        <img class="logo" src="../../assets/logotype.jpg" alt="logo" />
    </a>
    <div class="search-bar">
        <input type="text" id="search-bar" placeholder="Search..." />
    </div>
    <ul>
        <li>
            <a class="nav-links" href="./app-index">Home</a>
        </li>
        <li>
            <a class="nav-links" href="#">Discover</a>
        </li>

        <li>
            <i class="fa-solid fa-circle-user"></i>
        </li>
    </ul>
</nav>