.grid-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "top_left top_center top_right"
      "center_left center center_right"
      "bot_left bot_center bot_right";
  }
  
.grid-item { grid-area: center; }
form {
    padding-top: 25px;
    padding-left: 125px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 10px 5px 50px 3px rgba(170, 154, 154, 0.568);
    margin-left: 200px;
}

input {
    
    margin-bottom: 20px;
    border-radius: 5px;
    border-collapse: none;
    border-style: groove;
}

#login {
    margin-left: 25px;
    border: none;
    background-size: 50px;
    background-color: #91B7D9;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1000px) {
    input {
        margin-right: 100px;
    }
}