<div class="grid-container">
    <div class="grid-item">
        <h3>Edit company profile</h3>
        <form>
            <input type="text" id="profileName" name="profileName" placeholder="Company name"><br>
            
            <input type="text" id="category" name="category" placeholder="Category"><br>
            
            <input type="text" id="address" name="address" placeholder="Address"><br>
            
            <ul>
                <li>M - <input type="text" id="time" placeholder="HH:MM"></li>
                <li>T - <input type="text" id="time" placeholder="HH:MM"></li>
                <li>W - <input type="text" id="time" placeholder="HH:MM"></li>
                <li>T - <input type="text" id="time" placeholder="HH:MM"></li>
                <li>F - <input type="text" id="time" placeholder="HH:MM"></li>
                <li>S - <input type="text" id="time" placeholder="HH:MM"></li>
                <li>S - <input type="text" id="time" placeholder="HH:MM"></li>
            </ul>

            <input type="submit" id="saveProfile" value="Save changes">
        </form>

    </div>

</div>