<app-navbar></app-navbar>
<div class="grid-container">
    <div class="grid-item">
        <h3>Edit company profile</h3>
        <form>
            <input type="text" [(ngModel)]="name" id="profileName" name="profileName" placeholder="Company name"><br>
            
            <input type="text" id="address" [(ngModel)]="address" name="address" placeholder="Address"><br>
            
            <ul>
                <li>M - <input type="text" [(ngModel)]="monday" name="time" id="time" placeholder="HH:MM"></li>
                <li>T - <input type="text" [(ngModel)]="tuesday" name="time" id="time" placeholder="HH:MM"></li>
                <li>W - <input type="text" [(ngModel)]="wednesday" name="time" id="time" placeholder="HH:MM"></li>
                <li>T - <input type="text" [(ngModel)]="thursday" name="time" id="time" placeholder="HH:MM"></li>
                <li>F - <input type="text" [(ngModel)]="friday" name="time" id="time" placeholder="HH:MM"></li>
                <li>S - <input type="text" [(ngModel)]="saturday" name="time" id="time" placeholder="HH:MM"></li>
                <li>S - <input type="text" [(ngModel)]="sunday" name="time" id="time" placeholder="HH:MM"></li>
            </ul>

            <input type="submit" (click)="createProfile()" id="saveProfile" value="Save changes">
        </form>

    </div>

</div>