<html>
    <body>    
        <h2>Create a coupon</h2>
        <div class="grid-container">
            <div class="grid-item">
                <form>
                    <input type="text" id="couponName" name="couponName" placeholder="Name"><br>
                    
                    <input type="text" id="ogCost" name="ogCost" placeholder="Original Cost"><br>
                    
                    <input type="text" id="costDiscounted" name="costDiscounted" placeholder="Price with discount"><br>
                    
                    <textarea name="description" id="description" rows="10" cols="30" placeholder="Description"></textarea><br>

                    <label>Add media files:</label>
                    <input type="text" id="addMedia" name="addMedia"><br>

                    <input type="submit" id="createCoupon" value="Create Coupon">
                </form>
            </div>
        </div>
    </body>
</html>