<div class="grid-container">
    <div class="grid-item">
        <img src="../../assets/logotype.jpg" alt="Logo">
        <form>
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="text" id="country" name="country" placeholder="Country"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="text" id="passwordRepeat" name="passwordRepeat" placeholder="RepeatPassword"><br>
            <p>¿Already have an account?</p>
            <p class="loginredir">Login <a href="#">here</a></p>
            <input type="submit" id="register" value="Register">
        </form>
    </div>
</div>