<div class="grid-container">
    <div class="grid-item">
        <img src="../../images/logotype.jpg" alt="Logo">
        <form>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="country">Country:</label><br>
            <input type="text" id="country" name="country"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="passwordRepeat">Confirm Password:</label><br>
            <input type="text" id="passwordRepeat" name="passwordRepeat"><br>
            <p>¿Already have an account? Login <a href="#">here</a></p>
            <input type="submit" id="register" value="Register">
        </form>
    </div>
</div>